body.index {
	background: url("../images/grey2.jpg");
	color: white;
}
body.vhod {
	background: url("../images/grey.jpg");
	color: white;
}
body.zanas {
	background: url("../images/greyblue.jpg");
	color: white;
}
body.uslugi {
	background: url("../images/greyuslugi.jpg");
	color: white;
}
body.ofisi {
	background: url("../images/ofisi.jpg");
	background-size: 100%;
	color: white;
}
body.kontakti {
	background: url("../images/kontakti.jpg");
	background-size: 100%;
	color: white;
}
table.menu {
	background: white;
	width: 80%;
	position: fixed;
	left: 10%;	
}
.logo {
	width: 30%;
}
a:link {
	color: yellow;
	text-decoration: none;
}
a:visited {							/*sled kato e poseten linka*/
	color:yellow;
}
a:hover {							/*pri poso4vne na linka*/
	color:orange;
}
table.menu a:link {
	color: black;	
}
table.menu a:visited {
	color:black;
}
table.menu a:hover {
	color:grey;
}
p.logozanas a:link{
	color: white;
}
p.logozanas a:visited{
	color: white;
}
p.logozanas a:hover{
	color: grey;
}
table.osnovna li {
	font-size: 25px;
	color: white;
}
table.osnovna {
	width: 80%; 
	margin-left: 10%; 
	margin-right: 10%;
}
.center {
	text-align: center;
}	
table.cena {
	background: white;
	color: black;
	width: 80%; 
	margin-left: 10%; 
	margin-right: 10%;
	text-align: center;
}
.big {
	font-size: 45px;
}