@font-face {
    font-family: '28_days_laterregular';
    src: url('fonts/28_days_later-webfont.eot');
    src: url('fonts/28_days_later-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/28_days_later-webfont.woff2') format('woff2'),
         url('fonts/28_days_later-webfont.woff') format('woff'),
         url('fonts/28_days_later-webfont.ttf') format('truetype'),
         url('fonts/28_days_later-webfont.svg#28_days_laterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@white: white; /*menu link*/
@pink: #FF0099; /*leftmenu hover,visited*/
@blue: #0080ff; /*menu hover,visited*/
/*BODY*/
body {
	margin: 0px auto;
	padding: 0px;
	width: 1349px;
	text-align: center;
	font-family: Arial;
}
/*Back to top*/
a.top img {
	width: 50px;
	height: 50px;
}
a.top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 2;
}
/*IMG ZOOM*/
a.fancybox img {
	border: none;
	box-shadow: 0 1px 7px rgba(0,0,0,0.6);
	transform: scale(1,1); 
	transition: all 0.2s ease-in-out;
} 
a.fancybox:hover img {
	position: relative;
	z-index: 1;
	transform: scale(1.03,1.03);
}
/*HEADER*/
#header {
	width: 100%;
	height: 161px;
	background: url(../images/header.jpg);
	background-size: 100% 100%;
}
#header h1 {
	margin-top: -40px;
	color: white;
	font-size: 58px;
	font-family: '28_days_laterregular';
	letter-spacing: 4px;
}
#header img {
	margin-left: 88%;
	display: block;
	width:150px;
	
}
ul.menu {
	padding: 0px;
	background: black;
	width: 100%;
	margin-top:-22px;
}
ul.menu li{
	display: inline-block;
	padding: 7px 40px;
}
ul.menu li a:link, li.tunmenu p, ul.menu li a:visited, #left p a:visited {
	color: @white;
	text-decoration: none;
	font-size: 20px;
	padding: 0px;
}
ul.menu li a:hover,  li.tunmenu p:hover, #color a:link, #color a:visited, #color {
	color: @blue;
}
li.tunmenu p{
	margin: 0px;
	cursor: pointer;
}
li.tunmenu {
	position: relative;
}
li.tunmenu ul{
	position: absolute;
	top: 32px;
	left: 12px;
	padding: 0px;
	background: black;
	z-index: 2;
	opacity:0;
	transition: all 0.5s ease-in-out;
}
li.tunmenu ul a:link {
	font-size: 16px;
}
 li.tunmenu:hover ul {
	opacity: 1;	
 }

/*LEFT*/
#left {
	float: left;
	padding-top: 100px; 
	width: 22%;
	height: 600px;
	background: url(../images/sb2.jpg);
	background-size: 100%;
	color: #FF0099;
}
#left p {
	margin: 25px auto;
	width: 30%;
	background: black;
	padding: 20px;
}
#left p a:link {
	color: @white;
	text-decoration: none;
	font-size: 20px;
}
#left p a:hover, #left p.color a:link,#left p.color a:visited {
	color: @pink;
}
#left form {
	margin-top: 80px;
}
#left input[type="submit"] {
    background: black;
    width: 100px; 
    height: 50px; 
	color: #FF0099;
	font-weight: bold;
	cursor: pointer;
}
#left textarea {
	border:solid 5px #FF0099;
}
#left input[type="name"], #left input[type="email"] {
	border:solid 1px #FF0099;
}
::-webkit-input-placeholder {
	color: black;
	padding-left: 4px;
}
/*RIGHT*/
#right, #rightnamaleni, #forum, #zanas, #video, #galeria, #tuning, #psi, #kuler, #volan, #termo, #servizi, #probka, #shifter, #amove, #bov, #bovv, #bovflanec, #greika, #konzola, #kulerr, #regnakrainici, #regnakrainicii, #rolka, #saedineniq, #shaiba, #shifterr {
	width: 78%;
	float: left;
	height: 700px;
	background: url(../images/sb2.jpg);
	background-size: 100% 100%;
}
div.novina {
	position: relative;
	margin: 3px;
	display: inline-block;
	width: 99.4%;
	height: 49.8%;
	background: #66CD00;
	font-weight: bold;
	color: #003300;
}
div.novina img {
	position: absolute;
	right: 5px;
	top: 0px;
	width:180px;
	text-align: right;
	margin-bottom: -180px;
	animation: pulse 2s infinite; 
}
@keyframes pulse {
	0% {width:180px; height: 180px;}
	50% {width:160px; height: 160px; right: 15px; top: 10px;}
	100% {width:180px; height: 180px;}
}
div.promo {
	display: inline-block;
	width: 99.4%;
	height: 49%;
	background: url(../images/kvadrati.jpg);
	background-size: 100% 100%;
	color: white;
}
div.promo ul {
	padding:2px;
}
div.promo ul li{
	display: inline-block;
	padding: 60px 20px;
	
}
div.promo img{
	width: 170px;
	height: 150px;
	transform: scale(1,1);
	transition: transform 0.1s ease-in-out;
}
div.promo img:hover {
	transform: scale(1.05,1.05);
}
br.clear {
	clear: both;
}
/*FOOTER*/
#footer {
	width: 100%;
	height: 105px;
	background: url(../images/footer.jpg);
	background-size: 100% 100%;
}
#footer ul{
	margin: 0px;
}
#footer img {
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
#footer li {
	display: inline-block;
	margin-left: 120px;
	margin-top: 32px;
}
li.tel a:link, li.mail a:link  {
	color: yellow;
	font-size: 20px;
	text-decoration: none;
}
li.mail a:link {
	color: #66CD00;
}
/*FORUM*/
#forum {
	background: url(../images/forum2.jpg);
	background-size: 100% 100%;
}
#forum form {
	margin: 40px;
	text-align: left;
}
#forum input[type="submit"] {
    background: black;
    width: 75px; 
    height: 35px; 
	color: #0080ff;
	font-weight: bold;
	cursor: pointer;
}
/*ZA NAS, SERVIZI, GALERIA, TUNING, VIDEO*/
#zanas, #tuning, #servizi, #video, #galeria {
	background: url(../images/sb2.jpg);
	background-size: 100% 100%;
}
div.zanas, div.tuning, div.servizi, div.video, div.galeria, #rightnamaleni div.promo{
	display: inline-block;
	width: 99%;
	height: 99%;
	background: url(../images/greysub.jpg);
	background-size: 100% 100%;
	font-weight: bold;
	padding: 100px;
	margin: 3px;
	box-sizing: border-box;
}
/*TUNING CHASTI*/
div.tuning, #rightnamaleni div.promo {
	background: url(../images/tuning.jpg);
	background-size: 100% 100%;
	padding: 70px 0px;
}
div.tuning img {
	width: 160px;
	height: 130px;
	margin: 20px;
	transform: scale(1,1);
	transition: all 0.1s ease-in-out;
}
div.tuning img:hover {
	transform: scale(1.05,1.05);
}
/*SERVIZI*/
div.servizi {
	background: url(../images/servizi.jpg);
	background-size: 100% 100%;
	padding: 70px 0px;
	color: white;
}
div.imena, div.adres, div.telefon {
	float: left;
	text-align: left;
	margin: 80px;
}
div.servizi h3 {
	 text-decoration: underline;
}
/*VIDEO*/
div.video video{
	margin:10px;
	float: left;
	cursor: pointer;
}
div.video {
	padding: 100px 10px;
}
/*GALERIA*/
div.galeria {
	padding: 45px 10px;
}
div.galeria img {
	width: 250px;
	height: 200px;
}
div.boost, div.termo, div.volan, div.kuler, div.probka,  div.shifter, div.amove, div.bov, div.bovv, div.bovflanec, div.greika, div.konzola, div.kulerr, div.regnakrainici, div.regnakrainicii, div.rolka, div.saedineniq, div.shaiba, div.shifterr {
	display: inline-block;
	margin: 3px;
	box-sizing: border-box;
	background: #66CD00;
	height: 99%;
	width: 99%;
}
#psi p, #kuler p, #volan p, #termo p, #probka p, #shifter p, #amove p, #bov p, #bovv p, #bovflanec p, #greika p, #konzola p, #kulerr p, #regnakrainici p, #regnakrainicii p, #rolka p, #saedineniq p, #shaiba p, #shifterr p {
	text-align: left;
	margin-left: 40px;
}
div.psi2, div.kuler2, div.volan2, div.termo2, div.probka2, div.shifter2, div.amove2, div.bov2, div.bovv2, div.bovflanec2, div.greika2, div.konzola2, div.kulerr2, div.regnakrainici2, div.regnakrainicii2, div.rolka2, div.saedineniq2, div.shaiba2, div.shifterr2 {
	margin-top: 60px;
}
div.psi img {
	width: 200px;
	height:180px;
}

div.kuler img, div.bovflanec img, div.greika img, div.konzola img, div.kulerr img {
	width: 230px;
	height:200px;
}
div.volan img, div.termo img, div.probka img, div.shifter img, div.bov img, div.bovv img, div.regnakrainici img, div.regnakrainicii img, div.rolka img, div.saedineniq img, div.shaiba img, div.shifterr img {
	width: 300px;
	height:250px;
}
div.amove img {
	width: 160px;
	height:150px;
}
