body {
	margin: 0px;
	padding: 0px;
}
.center {
	width: 80%;
	margin: 0px auto;
}
h1 {
	text-align: center;
	text-transform: uppercase;
}
ul {
	padding: 0px;
	width: 250px;
	list-style: none;
}
li {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #eee;
	padding: 5px;
	margin-top: 10px;
}
span{
	margin-left: 5px;
}
.checked {
	text-decoration: line-through;
	color: #76EE00;
	font-weight :600;
}
