/*FONT
==================================================*/
@font-face {
  font-family: 'hindmedium';
  src: url('fonts/hind-medium-webfont.eot');
  src: url('fonts/hind-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/hind-medium-webfont.woff2') format('woff2'), url('fonts/hind-medium-webfont.woff') format('woff'), url('fonts/hind-medium-webfont.ttf') format('truetype'), url('fonts/hind-medium-webfont.svg#hindmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*COLORS
==================================================*/
/*Animation
==================================================*/
/*DropMenu - animation
==================================================*/
.dropSlideBlock {
  animation: dropSlide 200ms ease-in-out;
}
@keyframes dropSlide {
  from {
    right: -770px;
  }
  to {
    right: 0px;
  }
}
.dropSlideNone {
  animation: dropSlideN 200ms ease-in-out;
}
@keyframes dropSlideN {
  from {
    right: 0px;
  }
  to {
    right: -770px;
  }
}
/*Header-animation
==================================================*/
.headerSlideNone {
  animation: headerSlideN 200ms ease-in-out;
}
@keyframes headerSlideN {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: -101px;
  }
}
.headerSlideBlock {
  animation: headerSlideB 200ms ease-in-out;
}
@keyframes headerSlideB {
  from {
    margin-top: -101px;
  }
  to {
    margin-top: 0px;
  }
}
/*MenuAll*/
.menuAllMarginN {
  animation: menuAllN 200ms ease-in-out;
}
@keyframes menuAllN {
  from {
    margin-top: 140px;
  }
  to {
    margin-top: 40px;
  }
}
.menuAllMarginB {
  animation: menuAllB 200ms ease-in-out;
}
@keyframes menuAllB {
  from {
    margin-top: 40px;
  }
  to {
    margin-top: 140px;
  }
}
/*DropMenu*/
.headerDropN {
  animation: headerDropN 200ms ease-in-out;
}
@keyframes headerDropN {
  from {
    top: 346px;
  }
  to {
    top: 246px;
  }
}
.headerDropB {
  animation: headerDropB 200ms ease-in-out;
}
@keyframes headerDropB {
  from {
    top: 246px;
  }
  to {
    top: 346px;
  }
}
/*================================================*/
#menu_1 {
  color: #eeea87;
}
.menu2 {
  display: none;
}
.menu22 {
  display: block;
}
.clear {
  clear: both;
}
.link {
  text-decoration: none;
  color: #69695f;
}
.link:visited {
  color: #69695f;
}
.center2 {
  margin: 0px auto;
  width: 907px;
}
.center {
  margin: 0px auto;
  width: 950px;
}
body {
  color: #69695f;
  font-family: 'hindmedium';
  margin: 0px auto;
  padding: 0px;
  positon: relative;
  /*HEADER
==================================================*/
  /*MENU
==================================================*/
  /*CAROUSEL
==================================================*/
  /*ITEMS
==================================================*/
  /*FOOTER
==================================================*/
  /*DropMenu
==================================================*/
}
body header {
  background-color: #f0ee80;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 900;
}
body header div {
  background-color: #f0ee80;
  position: relative;
}
body header div p {
  font-style: italic;
  font-size: 16px;
  float: left;
  margin: 8px 16px 0px 24px;
}
body header div img {
  position: absolute;
  top: 8px;
  right: 0px;
}
body header div img:hover {
  cursor: pointer;
}
body header div ul {
  list-style: none;
  margin: 0px 4px 0px 0px;
  padding: 0px;
  float: left;
}
body header div ul li {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  padding: 11px 184px 10px 34px;
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}
body header div ul li:last-child {
  border-bottom: none;
}
body header div ul li:hover {
  background-color: #f8f7c0;
}
body header div ul li img {
  position: absolute;
  top: 13px;
  right: 18px;
}
body div.menuAll {
  margin-top: 140px;
  position: relative;
  z-index: 2;
  background-image: url("../images/avLogo.png");
  background-position: 100% 71%;
  background-repeat: no-repeat;
}
body div.menuAll div.menu div.navigation span {
  padding: 32px 23px 0px 0px;
  float: left;
}
body div.menuAll div.menu div.navigation span p {
  margin: 0px;
  font-size: 10px;
}
body div.menuAll div.menu div.navigation span p.logo {
  font-size: 25px;
  padding-bottom: 8px;
}
body div.menuAll div.menu div.navigation div {
  margin-top: 8px;
  margin-left: 106px;
  float: left;
}
body div.menuAll div.menu div.navigation div ul {
  margin: 0px;
  margin-top: -6px;
  list-style: none;
}
body div.menuAll div.menu div.navigation div ul li {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
}
body div.menuAll div.menu div.navigation div ul li a {
  font-size: 10px;
}
body div.menuAll div.menu div.navigation div ul li a img {
  vertical-align: middle;
}
body div.menuAll div.menu div.navigation div ul li:hover {
  background-color: #eee;
}
body div.menuAll div.menu div.navigation div form {
  position: relative;
  margin-left: 39px;
}
body div.menuAll div.menu div.navigation div form input[type="search"] {
  margin-top: 5px;
  height: 36px;
  width: 368px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-top-right-radius: 0px;
}
body div.menuAll div.menu div.navigation div form button {
  position: absolute;
  top: 14px;
  left: 330px;
  background: transparent;
  border: none;
}
body div.menuAll div.menu div.navigation div form button img {
  width: 15px;
}
body div.menuAll div.menu nav {
  margin-top: -6px;
  background-color: #454545;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
}
body div.menuAll div.menu nav ul {
  margin: 0px;
  padding-left: 10px;
  position: relative;
  list-style: none;
}
body div.menuAll div.menu nav ul li {
  display: inline-block;
  padding: 25px;
  padding-bottom: 31px;
  font-size: 14px;
}
body div.menuAll div.menu nav ul li p,
body div.menuAll div.menu nav ul li a {
  color: #cacacb;
  margin: 0px;
  transition: all 0.2s ease-in-out;
}
body div.menuAll div.menu nav ul li p:hover,
body div.menuAll div.menu nav ul li a:hover {
  color: #eeea87;
  cursor: pointer;
}
body div.menuAll div.menu nav ul li.btn {
  position: absolute;
  top: 20px;
  right: -22px;
}
body div.menuAll div.menu nav ul li.btn button {
  display: inline-block;
  background: none;
  border: none;
}
body div.menuAll div.menu nav ul li.btn button img {
  vertical-align: middle;
  width: 100%;
}
body div.menuAll div.menu div.nav {
  position: relative;
  margin-top: -16px;
  background-color: #eeea87;
  border-radius: 0px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: -28px;
  box-shadow: 0px 1px 4px #454545;
}
body div.menuAll div.menu div.nav img {
  position: absolute;
  top: -13px;
  left: 0px;
}
body div.menuAll div.menu div.nav ul {
  padding: 10px;
  padding-left: 24px;
  list-style: none;
}
body div.menuAll div.menu div.nav ul li {
  display: inline-block;
  font-size: 14px;
}
body div.menuAll div.menu div.nav ul li a {
  padding: 13px;
  text-decoration: none;
  text-transform: capitalize;
  color: #454545;
  transition: all 0.2s ease-in-out;
}
body div.menuAll div.menu div.nav ul li a:visited {
  color: #454545;
}
body div.menuAll div.menu div.nav ul li a:hover {
  color: #cacacb;
}
body div.carousel {
  margin-top: - 10px;
  background: #e2e2e2;
  background: linear-gradient(#e2e2e2, #f4f4f4);
  height: 284px;
  position: relative;
  z-index: 1;
}
body div.carousel div {
  height: 234px;
}
body div.carousel div div span {
  display: inline-block;
  margin-top: 26px;
  margin-left: 38px;
  margin-bottom: 14px;
}
body div.carousel div div span p.logo2 {
  font-size: 20px;
  margin: 0px;
}
body div.carousel div div span p {
  font-size: 12px;
  margin: 4px;
  margin-left: 1px;
}
body div.carousel div div div.owl-carousel div.itemC {
  position: relative;
  background-color: white;
  margin-left: 40px;
  width: 200px;
  height: 230px;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 1px #ccc;
}
body div.carousel div div div.owl-carousel div.itemC img {
  display: inline-block;
  padding: 10px;
  width: 90%;
}
body div.carousel div div div.owl-carousel div.itemC img.simbol {
  width: 12px;
  position: absolute;
  bottom: 2px;
  right: 2px;
}
body div.carousel div div div.owl-carousel div.itemC p {
  font-style: italic;
  font-size: 12px;
  width: 162px;
  margin: 0px;
  margin-left: 8px;
  height: 49px;
  overflow: hidden;
  line-height: 130%;
}
body div.main {
  background: #cacacb;
  background: linear-gradient(#cacacb, white);
  height: 722px;
  position: relative;
}
body div.main div.center {
  position: absolute;
  top: -26px;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.5);
  height: 764px;
}
body div.main div.center div.center2 {
  margin-top: 134px;
}
body div.main div.center div.center2 div.items {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  position: relative;
  z-index: 100;
  background: white;
  box-shadow: 5px 5px 6px 1px #ccc;
  width: 290px;
  height: 292px;
  overflow: hidden;
  border-radius: 10px;
  border-top-left-radius: 0px;
}
body div.main div.center div.center2 div.items p.header {
  text-transform: uppercase;
  float: none;
  font-size: 16px;
  padding: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  height: 10px;
  width: 260px;
}
body div.main div.center div.center2 div.items img {
  padding: 0px 10px;
  margin-top: 4px;
  float: left;
}
body div.main div.center div.center2 div.items p {
  float: left;
  width: 160px;
  font-size: 13px;
  height: 130px;
  overflow: hidden;
}
body div.main div.center div.center2 div.items ul {
  width: 94%;
  margin: 10px;
  padding: 0px;
  list-style: none;
}
body div.main div.center div.center2 div.items ul li {
  position: relative;
  background-color: #f2f2f2;
  margin-bottom: 2px;
  transition: all 0.2s ease-in-out;
}
body div.main div.center div.center2 div.items ul li:hover {
  background-color: #eeea87;
}
body div.main div.center div.center2 div.items ul li a {
  font-size: 12px;
}
body div.main div.center div.center2 div.items ul li img {
  position: absolute;
  top: 0px;
  right: -4px;
}
body div.main div.center div.center2 div.horizontal img {
  float: none;
}
body div.main div.center div.center2 div.horizontal p {
  float: none;
  width: 274px;
  margin-left: 10px;
  max-height: 44px;
  margin-bottom: -8px;
}
body div.main div.center div.center2 div.threeLi img {
  margin-bottom: 28px;
}
body div.main div.center div.center2 div.items:hover p.header {
  text-decoration: underline;
}
body div.main div.center div.center2 input[type="checkbox"] {
  vertical-align: middle;
  margin-left: 20px;
}
body div.main div.center div.center2 label {
  font-size: 12px;
}
body footer {
  margin-bottom: -34px;
}
body footer div.center {
  background-color: #d6d279;
  background: linear-gradient(#d6d279, #eeea87);
  overflow: hidden;
}
body footer div.center div.center2 {
  padding: 60px;
  padding-top: 10px;
}
body footer div.center div.center2 div.footer {
  float: left;
  width: 200px;
  font-size: 12px;
}
body footer div.center div.center2 div.footer p {
  margin-bottom: -8px;
}
body footer div.center div.center2 div.footer p a:hover {
  color: white;
}
body footer div.center div.center2 ul {
  margin-top: 10px;
}
body footer div.center div.center2 ul li {
  margin-right: 6px;
  display: inline;
}
body footer div.center div.center2 ul li a {
  font-size: 12px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
body footer div.center div.center2 ul li a:hover {
  color: white;
}
body footer div.center div.center2 ul li a img {
  vertical-align: middle;
}
body footer div.center div.info {
  background: #616161;
  margin-top: 76px;
  color: #cacacb;
  font-size: 10px;
}
body footer div.center div.info p {
  float: left;
  margin: 12px 40px 12px 60px;
}
body div.dropMenu {
  position: fixed;
  right: 0px;
  top: 346px;
  z-index: 999;
}
body div.dropMenu div.dropActive {
  float: left;
  position: relative;
  background-color: #af2527;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 40px;
  height: 230px;
  overflow: hidden;
}
body div.dropMenu div.dropActive img {
  position: absolute;
  right: 77px;
  bottom: 102px;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
body div.dropMenu div.dropActive p {
  position: absolute;
  transform: rotate(270deg);
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  right: -57px;
  top: 108px;
}
body div.dropMenu div.dropInactive {
  display: none;
  position: relative;
  border-bottom-left-radius: 10px;
  background-color: #454545;
  height: 300px;
  overflow: hidden;
  float: left;
  padding-left: 10px;
}
body div.dropMenu div.dropInactive img {
  position: absolute;
  top: 0px;
  left: 0px;
}
body div.dropMenu div.dropInactive h3,
body div.dropMenu div.dropInactive h5 {
  color: #eeea87;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 8px;
}
body div.dropMenu div.dropInactive h3 {
  font-size: 22px;
}
body div.dropMenu div.dropInactive h5 {
  font-size: 13px;
}
body div.dropMenu div.dropInactive h5.marg {
  margin-top: 40px;
}
body div.dropMenu div.dropInactive p {
  color: white;
  font-size: 12px;
  line-height: 170%;
  margin: 0px;
  margin-bottom: 10px;
}
body div.dropMenu div.dropInactive p.close {
  margin-top: 10px;
  cursor: pointer;
}
body div.dropMenu div.dropInactive a {
  position: relative;
  text-decoration: none;
  color: #eeea87;
  background-color: #585858;
  padding: 10px;
  padding-right: 34px;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  transition: all 0.2s ease-in-out;
}
body div.dropMenu div.dropInactive a:visited {
  color: #eeea87;
  background-color: #585858;
}
body div.dropMenu div.dropInactive a::after {
  position: absolute;
  top: 10px;
  content: "";
  background-image: url("../images/dropRight.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  right: 0px;
}
body div.dropMenu div.dropInactive a:hover {
  color: #454545;
  background-color: #eeea87;
}
body div.dropMenu div.dropInactive a:hover::after {
  background-image: url("../images/dropRight2.png");
}
body div.dropMenu div.dropInactive a.aInactive {
  padding-right: 10px;
}
body div.dropMenu div.dropInactive a.aInactive::after {
  background-image: none;
}
body div.dropMenu div.dropInactive a.aInactive:hover {
  background-color: #585858;
  color: #eeea87;
  cursor: default;
}
body div.dropMenu div.dropInactive div.dropGP {
  margin: -10px 16px 0px;
  padding-right: 16px;
  padding-top: 10px;
  width: 232px;
  height: 240px;
  float: left;
  border-right: 1px solid grey;
  box-sizing: border-box;
}
body div.dropMenu div.dropInactive div.info {
  width: 376px;
  float: left;
  padding-left: 20px;
  padding-top: 6px;
  padding-right: 100px;
}
