/*BODY*/
body {
	margin: 0px auto;
	padding: 0px;
	width: 1349px;
	text-align: center;
	font-family: Arial;
}
/*Back to top*/
a.top img {
	width: 50px;
	height: 50px;
}
a.top {
	position: fixed;
	right: 20px;
	bottom: 20px;
}
/*HEADER*/
#header {
	width: 100%;
	height: 161px;
	background: url(../images/header.jpg);
	background-size: 100% 100%;
}
#header h1 {
	margin-top: -61px;
	color: white;
	font-size: 50px;
	font-family: Comic Sans MS;
}
#header img {
	margin-left: 88%;
	display: block;
	width:150px;
	
}
ul.menu {
	padding: 0px;
	background: black;
	width: 100%;
	margin-top: -9px;
}
ul.menu li{
	display: inline-block;
	padding: 7px 40px;
}
ul.menu li a:link {
	color: white;
	text-decoration: none;
	font-size: 20px;

}
ul.menu li a:visited {
	color: white;
}
ul.menu li a:hover {
	color: #0080ff;
}
/*LEFT*/
#left {
	float: left;
	padding-top: 100px; 
	width: 22%;
	height: 600px;
	background: url(../images/sb2.jpg);
	background-size: 100%;
	color: #FF0099;
}
#left p {
	margin: 25px auto;
	width: 30%;
	background: black;
	padding: 20px;
}
#left p a:link {
	color: white;
	text-decoration: none;
	font-size: 20px;
}
#left p a:hover, #left p a:visited:hover {
	color: #FF0099;
}
#left p a:visited {
	color: white;
}
#left form {
	margin-top: 80px;
}
#left input[type="submit"] {
    background: black;
    width: 100px; 
    height: 50px; 
	color: #FF0099;
	font-weight: bold;
}
/*RIGHT*/
#right, #forum, #zanas, #video, #galeria, #tuning, #psi, #kuler, #volan, #termo, #servizi, #probka, #shifter, #amove, #bov, #bovv, #bovflanec, #greika, #konzola, #kulerr, #regnakrainici, #regnakrainicii, #rolka, #saedineniq, #shaiba, #shifterr {
	width: 78%;
	float: left;
	height: 700px;
	background: url(../images/sb2.jpg);
	background-size: 100% 100%;
}
div.novina {
	margin: 2px 0px;
	display: inline-block;
	width: 100%;
	background: #66CD00;
	font-weight: bold;
	color: #003300;
}
div.novina img {
	margin-left: 80%;
	width:200px;
	text-align: right;
	margin-bottom: -180px;
}
div.promo {
	display: inline-block;
	width: 100%;
	height: 364px;
	background: url(../images/kvadrati.jpg);
	background-size: 100% 100%;
	color: white;
}
div.promo ul {
	padding:2px;
}
div.promo ul li{
	display: inline-block;
	padding: 60px 20px;
	
}
div.promo img {
	width: 170px;
	height: 150px;
}
br.clear {
	clear: both;
}
/*FOOTER*/
#footer {
	width: 100%;
	height: 105px;
	background: url(../images/footer.jpg);
	background-size: 100% 100%;
}
#footer ul{
	display: inline-block;
	margin: 0px;
}
#footer img {
	width: 50px;
	height: 50px;
}
#footer li {
	display: inline-block;
	margin: 23px 50px;
}
li.tel a:link, li.mail a:link  {
	color: yellow;
	font-size: 20px;
	text-decoration: none;
}
li.mail a:link {
	color: #66CD00;
}
/*FORUM*/
#forum {
	background: url(../images/forum2.jpg);
	background-size: 100% 100%;
}
#forum form {
	margin: 40px;
	text-align: left;
}
#forum input[type="submit"] {
    background: black;
    width: 75px; 
    height: 35px; 
	color: #0080ff;
	font-weight: bold;
}
/*ZA NAS, SERVIZI, GALERIA, TUNING, VIDEO*/
#zanas, #tuning, #servizi, #video, #galeria {
	background: url(../images/sb2.jpg);
	background-size: 100% 100%;
}
div.zanas, div.tuning, div.servizi, div.video, div.galeria {
	display: inline-block;
	width: 99%;
	height: 694px;
	background: url(../images/greysub.jpg);
	background-size: 100% 100%;
	font-weight: bold;
	padding: 100px;
	margin: 3px;
	box-sizing: border-box;
}
/*TUNING CHASTI*/
div.tuning {
	background: url(../images/tuning.jpg);
	background-size: 100% 100%;
	padding: 70px 0px;
}
div.tuning img {
	width: 160px;
	height: 130px;
	margin: 20px;	
}
/*SERVIZI*/
div.servizi {
	background: url(../images/servizi.jpg);
	background-size: 100% 100%;
	padding: 70px 0px;
	color: white;
}
div.imena, div.adres, div.telefon {
	float: left;
	text-align: left;
	margin: 80px;
}
div.servizi h3 {
	 text-decoration: underline;
}
/*VIDEO*/
div.video video{
	margin:10px;
	float: left;
}
div.video {
	padding: 100px 10px;
}
/*GALERIA*/
div.galeria {
	padding: 45px 10px;
}
div.galeria img {
	width: 250px;
	height: 200px;
}
div.galeria img:hover {
	transition-delay:2s;
	width: 1280px;
	height:800px;
	position: absolute;
	left:50px;
	top: 50px;
}
div.boost, div.termo, div.volan, div.kuler, div.probka,  div.shifter, div.amove, div.bov, div.bovv, div.bovflanec, div.greika, div.konzola, div.kulerr, div.regnakrainici, div.regnakrainicii, div.rolka, div.saedineniq, div.shaiba, div.shifterr {
	display: inline-block;
	margin: 3px;
	box-sizing: border-box;
	background: #66CD00;
	height: 99%;
	width: 99%;
}
#psi p, #kuler p, #volan p, #termo p, #probka p, #shifter p, #amove p, #bov p, #bovv p, #bovflanec p, #greika p, #konzola p, #kulerr p, #regnakrainici p, #regnakrainicii p, #rolka p, #saedineniq p, #shaiba p, #shifterr p {
	text-align: left;
	margin-left: 40px;
}
div.psi2, div.kuler2, div.volan2, div.termo2, div.probka2, div.shifter2, div.amove2, div.bov2, div.bovv2, div.bovflanec2, div.greika2, div.konzola2, div.kulerr2, div.regnakrainici2, div.regnakrainicii2, div.rolka2, div.saedineniq2, div.shaiba2, div.shifterr2 {
	margin-top: 60px;
}
div.psi img {
	width: 200px;
	height:180px;
}

div.kuler img, div.bovflanec img, div.greika img, div.konzola img, div.kulerr img {
	width: 230px;
	height:200px;
}
div.volan img, div.termo img, div.probka img, div.shifter img, div.bov img, div.bovv img, div.regnakrainici img, div.regnakrainicii img, div.rolka img, div.saedineniq img, div.shaiba img, div.shifterr img {
	width: 300px;
	height:250px;
}
div.amove img {
	width: 160px;
	height:150px;
}
div.psi img:hover, 
div.kuler img:hover, 
div.bovflanec img:hover, 
div.greika img:hover, 
div.konzola img:hover, 
div.kulerr img:hover, 
div.volan img:hover, 
div.termo img:hover, 
div.probka img:hover, 
div.shifter img:hover, 
div.bov img:hover, 
div.bovv img:hover, 
div.regnakrainici img:hover, 
div.regnakrainicii img:hover, 
div.rolka img:hover, 
div.saedineniq img:hover, 
div.shaiba img:hover, 
div.shifterr img:hover,
div.amove img:hover {
	transition-delay:2s;
	width: 1280px;
	height:800px;
	position: absolute;
	left:50px;
	top: 50px;
}

