/*RESET
============================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*COLORS
==========================================================*/
@bodycolor: #f3f3f3;
@red_header: #c41a17;
@red_hover: #e2534b;
@grey_now: #3a4141;
@red_down_menu: #e5655d;
@button: #e8645a;
@ipsm_heder: #ececec;
@ipsm_heder_text: #da3f39;
@textcolor_grey: #777777;
@readmore_grey: #2e3636;
/*========================================================*/
.clear {
	clear: both;
}
body {
	width: 1500px;
	margin: 0px auto;
	font-family: 'Arial';
	background-color: @bodycolor;
}
.now {
	background-color: @grey_now;
}
header {
	height: 80px;
	background-color: @red_header;
	nav {
		width: 1260px;
		margin: 0px auto;
		h1 {
			padding-top: 24px;;
			padding-left:56px;	
			display: inline-block;
		}
		form {
			float: right;
			position: relative;
			button {
				border: 0px;
				border-radius: 5px;
				background: transparent;
				margin: 24px 42px 24px 5px;
				padding: 9px 20px;
				&:hover {
					background-color: @red_hover;
					cursor: pointer;
				}
			}
			input[type="text"] {
				position: absolute;
				top: 80px;
				right: 45px;
				display: none;
				border: 2px solid @grey_now;
				opacity: 0.6;
				z-index: 1;
			}
			&:hover input {
				display: block;
			}
		}
		ul {
			float: right;	
			font-size: 13px;
			text-transform: uppercase;	
			text-decoration: none;
			li {
				display: inline-block;
				padding: 10px 20px;
				margin: 24px 2px;
				border-radius: 5px;
				&:hover {
				background-color: @red_hover;
				cursor: pointer;
				transition: all 0.2s ease-in-out;
				}
				a {
					&:link {
						color: white;
						text-decoration: none;
					}
					&:visited {
						color: white;
					}
				}
			}
			li.down {
				position: relative;
				a::before {
						content: " ";
						background-image: url(../images/down.png);
						repeat: no-repeat;
				}
				div.verticalmenu {
					z-index: 1;
					img {
						position: absolute;
						top: 9;
						left: 12px
					}
					position: absolute;
					top: 30px;
					left: 0px;
					display: none;
					ul {
						background-color:@red_hover;
						border-radius: 5px;
						text-transform: none;
						text-decoration: none;
						width: 190px;
						margin-top: 15px;
						li {
							background-color:@red_down_menu;
							margin: 3px 6px;
							a::before {
								content: " ";
								background-image: url(../images/right.png);
								repeat: no-repeat;
							}
							&:hover {
								background-color: @grey_now;
							}
						}
					}
				}
				&:hover div{
						display: block;
					}
			}
		}
		
	}
}
div.carousel {
	height: 500px;
	animation: backgrounds 15s linear infinite;
	position: relative;
	button {
		position: absolute;
		background-color: @button;
		border: none;
		width: 50px;
		height: 60px;
		top: 220px;
		cursor: pointer;
		&.previous {	
			left: 0px;
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
		&.next {
			right: 0px;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
	}
	div {
		float: left;
		width: 1150px;
		height: 104px;
		background:rgba(0,0,0,0.5);
		margin-top: 380px;
		margin-left: 174px;
		border-radius: 6px;
		img {
			margin-top: 20px;
			margin-left: 20px;
			margin-bottom: 0px;
		}
		p {
			margin-left: 20px;
			margin-top: 14px;
			color: white;
			letter-spacing: 0.5px;
			font-size: 16px;
		}
	}
}
@keyframes backgrounds {
	0% {background-image: url(../images/background_1.jpg);}
	50% {background-image: url(../images/background_2.jpg);}
	100% {background-image: url(../images/background_3.jpg);}	
}
div.ipsm {
	div.ipsmheader {
		position: relative;
		width: 1170px;
		height: 104px;
		background:@ipsm_heder;
		margin-top: 50px;
		margin-left: 164px;
		border-radius: 6px;
		h2 {
			display: inline-block;
			padding-top: 24px;
			padding-left: 30px;
			color: @ipsm_heder_text;
			font-size: 27px;
			font-weight: bold;
		}
		p {
			display: inline-block;
			margin-top: 20px;
			margin-left: 28px;
			font-size: 13px;
		}
		button {
			position: absolute;
			top: 24px;
			right: 34px;
			margin: 0px;
			width: 200px;
			height: 54px;
			background-color: @button;
			border-radius: 6px;
			a{
				font-size: 20px;
				color: white;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
	div.plane, div.settings, div.w, div.cell{
		width:270;
		height: 310;
		float: left;
		margin: 50px 15px;
		background-color: white;
		border-radius: 6px;
		color: @textcolor_grey;
		position: relative;
		img {
			margin: 40px 102px;
		}
		h2 {
			margin: 0px 68px;
			font-size: 19px;
			text-transform: uppercase;
		}
		p {
			font-size: 13px;
			margin: 24px 26px;
			text-align: center;
		}
		button{
			width: 200px;
			height: 56px;
			position: absolute;
			left: 35px;
			bottom: -28px;
			border: none;
			border-radius: 6px;
			background-color: @readmore_grey;
			cursor: pointer;
			a {
				color: white;
				text-decoration: none;
				font-size: 14px;
			}
			&:hover {
				background-color: @button;
				transition: all 0.2s ease-in-out;
			}
		}
	}
	div.plane{
		margin-left: 164px;
	}
}