/*FONT
==================================================*/
@font-face {
    font-family: 'hindmedium';
    src: url('fonts/hind-medium-webfont.eot');
    src: url('fonts/hind-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hind-medium-webfont.woff2') format('woff2'),
         url('fonts/hind-medium-webfont.woff') format('woff'),
         url('fonts/hind-medium-webfont.ttf') format('truetype'),
         url('fonts/hind-medium-webfont.svg#hindmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*COLORS
==================================================*/
@headerColor: #f0ee80;
@fontColot: #69695f;
@headerHover: #f8f7c0;
@navColor: #454545;
@nav2Color: #cacacb;
@nav2ColorHover: #eeea87;
@navYellow: #eeea87;
@carouselBG: #e2e2e2;
@White: #f4f4f4;
@White2: #f9f9f9;
@mainColorGrey: #cacacb;
@liItem: #f2f2f2;
@footerBG: #d6d279;
@footerGrey: #616161;
@dropMenuRed: #af2527;
@dropBtnGrey: #585858;

/*Animation
==================================================*/
/*DropMenu - animation
==================================================*/
.dropSlideBlock {
	animation: dropSlide 200ms ease-in-out; 
}
@keyframes dropSlide {
	from { right: -770px;}
	to { right: 0px;}
}

.dropSlideNone {
	animation: dropSlideN 200ms ease-in-out; 
}
@keyframes dropSlideN {
	from { right: 0px;}
	to { right: -770px;}
}
/*Header-animation
==================================================*/

.headerSlideNone {
	animation: headerSlideN 200ms ease-in-out; 
} 
@keyframes headerSlideN {
	from { margin-top: 0px;}
	to { margin-top: -101px;}
}

.headerSlideBlock {
	animation: headerSlideB 200ms ease-in-out; 
}
@keyframes headerSlideB {
	from { margin-top: -101px;}
	to { margin-top: 0px;}
}
/*MenuAll*/
.menuAllMarginN {
	animation: menuAllN 200ms ease-in-out; 
} 
@keyframes menuAllN {
	from { margin-top: 140px;}
	to { margin-top: 40px;}
}

.menuAllMarginB {
	animation: menuAllB 200ms ease-in-out; 
}
@keyframes menuAllB {
	from { margin-top: 40px;}
	to { margin-top: 140px;}
}
/*DropMenu*/
.headerDropN {
	animation: headerDropN 200ms ease-in-out; 
} 
@keyframes headerDropN {
	from { top: 346px;}
	to { top: 246px;}
}

.headerDropB {
	animation: headerDropB 200ms ease-in-out; 
}
@keyframes headerDropB {
	from { top: 246px;}
	to { top: 346px;}
}

/*================================================*/

#menu_1 {
	color: @navYellow;
}
.menu2 {
	display: none;
}
.menu22{
	display: block;
}
.clear {
	clear: both;
}
.link {
	text-decoration: none;
	color: @fontColot;
	&:visited {
		color: @fontColot;
	}
}
.center2 {
	margin: 0px auto;
	width: 907px;
}
.center {
	margin: 0px auto;
	width: 950px;
}
body {
	color: @fontColot;
	font-family: 'hindmedium';
	margin: 0px auto;
	padding: 0px;
	positon: relative;
/*HEADER
==================================================*/
	header {
		background-color: @headerColor;
		width: 100%;
		position: fixed;
		top: 0px;
		z-index: 900;
		div{
			background-color: @headerColor;
			position: relative;
			p{
				font-style: italic;
				font-size: 16px;
				float: left;
				margin:  8px 16px 0px 24px;
			}
			img{
				position: absolute;
				top: 8px;
				right: 0px;
				&:hover {
					cursor: pointer;
				}
			}
			ul {
				list-style: none;
				margin: 0px 4px 0px 0px;
				padding: 0px;
				float: left;
				li {
					position: relative;
					border:1px solid rgba(0,0,0,0.1);
					border-top: none;
					padding: 11px 184px 10px 34px;
					font-size: 12px;
					transition: all 0.2s ease-in-out;
					&:last-child {
						border-bottom: none;
					}
					&:hover{
						background-color: #f8f7c0;
					}
					img {
						position: absolute;
						top: 13px;
						right: 18px;
					}
				}
			}
		}
	}
/*MENU
==================================================*/
	div.menuAll {
		margin-top: 140px;
		position: relative;
		z-index:2;
		background-image: url("../images/avLogo.png");
		background-position: 100% 71%;
		background-repeat: no-repeat;
		div.menu {
			div.navigation{
				span{
					padding: 32px 23px 0px 0px;
					float: left;
					p {
						margin: 0px;
						font-size: 10px;
					}
					p.logo {
						font-size: 25px;
						padding-bottom: 8px;
					}
				}
				div{
					margin-top: 8px;
					margin-left: 106px;
					float: left;
					ul{
						margin: 0px;
						margin-top: -6px;
						list-style: none;
						li{
							display: inline-block;
							border-radius: 5px;
							padding:10px;
							a {
								font-size: 10px;
								img {
									vertical-align: middle;
								}
							}
							&:hover {
								background-color: #eee;
							}
						}	
					}
					form{
						position: relative;
						margin-left: 39px;
						input[type="search"]{
							margin-top: 5px;
							height: 36px;
							width: 368px;
							padding: 10px;
							border:1px solid rgba(0,0,0,0.1);
							border-radius: 10px;
							border-top-right-radius: 0px;
						}
						button{
							position: absolute;
							top: 14px;
							left: 330px;
							background: transparent;
							border: none;
							img{
								width:15px;
							}
						}
					}
					
				}
			}
			nav{
				margin-top: -6px;
				background-color: @navColor;
				border-radius: 10px;
				border-bottom-right-radius: 0px;
				ul{
					margin: 0px;
					padding-left: 10px;
					position: relative;
					list-style: none;
					li{
						display: inline-block;
						padding: 25px;
						padding-bottom: 31px;
						font-size: 14px;
						p,a {
							color: @nav2Color;
							margin: 0px;
							transition: all 0.2s ease-in-out;
							&:hover{
								color: @nav2ColorHover;
								cursor: pointer;
							}
						}
					}
					li.btn {
						position: absolute;
						top: 20px;
						right:-22px;
						button {
							display: inline-block;
							background: none;
							border: none;
							img{
								vertical-align: middle;
								width: 100%;
							}
						}
					}
				}
			}
			div.nav {
				position: relative;
				margin-top: -16px;
				background-color: @navYellow;
				border-radius: 0px;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
				margin-bottom: -28px;
				box-shadow: 0px 1px 4px @navColor;
				img{
					position: absolute;
					top: -13px;
					left: 0px;
				}
				ul{	
					padding: 10px;
					padding-left: 24px;
					list-style: none;
					li{
						display: inline-block;
						font-size: 14px;
						a {	
							padding: 13px;
							text-decoration: none;
							text-transform: capitalize;
							color: @navColor;
							transition: all 0.2s ease-in-out;
							&:visited{
								color: @navColor;
							}
							&:hover{
								color: @nav2Color;
							}
						}
					}
				}
			}
		}
	}
/*CAROUSEL
==================================================*/
	div.carousel {
		margin-top: - 10px;
		background: @carouselBG;
		background:linear-gradient(@carouselBG, @White);
		height: 284px;
		position: relative;
		z-index: 1;
		div {
			height: 234px;
			div{
				span {
					display: inline-block;
					margin-top: 26px;
					margin-left: 38px;
					margin-bottom: 14px;
					p.logo2 {
						font-size: 20px;
						margin: 0px;
					}
					p{
						font-size: 12px;
						margin: 4px;
						margin-left: 1px;
					}
				}
				div.owl-carousel {
					div.itemC {
						position: relative;
						background-color: white;
						margin-left: 40px;
						width: 200px;
						height: 230px;
						border: 1px solid @carouselBG;
						box-sizing: border-box;
						border-radius: 5px;
						box-shadow: 1px 1px 6px 1px #ccc;
						img {
							display: inline-block;
							padding: 10px;
							width: 90%;
						}
						img.simbol {
							width: 12px;
							position: absolute;
							bottom: 2px;
							right: 2px;
						}
						p {
							font-style: italic;
							font-size: 12px;
							width: 162px;
							margin: 0px;
							margin-left: 8px;
							height:49px;
							overflow: hidden;
							line-height: 130%;
						}
					}
				}
			}

		}
	}
/*ITEMS
==================================================*/
	div.main {
		background: @mainColorGrey;
		background:linear-gradient(@mainColorGrey, white);
		height: 722px;
		position: relative;
		div.center {
			position: absolute;
			top: -26px;
			margin-left: auto;
			margin-right: auto;
			left: 0px;
			right: 0px;
			background: rgba(255, 255, 255, .5);
			height: 764px;
			div.center2	{
				margin-top: 134px;
				div.items {
					float: left;
					margin-left: 10px;
					margin-bottom: 10px;
					position: relative;
					z-index: 100;
					background: white;
					box-shadow: 5px 5px 6px 1px #ccc;
					width: 290px;
					height: 292px;
					overflow: hidden;
					border-radius: 10px;
					border-top-left-radius: 0px;
					p.header{
						text-transform: uppercase;
						float: none;
						font-size: 16px;
						padding: 10px;
						padding-top: 10px;
						margin-bottom: 0px;
						height: 10px;
						width: 260px;
					}
					img {
						padding:0px 10px;
						margin-top: 4px;
						float: left;
					}
					p {
						float: left;
						width:160px;
						font-size: 13px;
						height: 130px;
						overflow: hidden;
					}
					ul{
						width:94%;
						margin: 10px;
						padding: 0px;
						list-style: none;
						li {
							position: relative;
							background-color: @liItem;
							margin-bottom: 2px;
							transition: all 0.2s ease-in-out;
							&:hover {
								background-color: @navYellow;
							}
							a {
								font-size: 12px;
							}
							img {
								position: absolute;
								top: 0px;
								right: -4px;
							}
						}
					}
				}
				div.horizontal{
					img {
						float: none;
					}
					p {
						float: none;
						width: 274px;
						margin-left: 10px;
						max-height: 44px;
						margin-bottom: -8px;
					}
				}
				div.threeLi {
					img {
						margin-bottom: 28px;
					}
				}
				div.items:hover p.header{
					text-decoration: underline;
				}
				input[type="checkbox"]{
					vertical-align: middle;
					margin-left: 20px;
				}
				label{
					font-size: 12px;
				}
			}
		}
	}
/*FOOTER
==================================================*/
	footer {
		margin-bottom: -34px;
		div.center {
			background-color: @footerBG;
			background:linear-gradient(@footerBG, #eeea87);
			overflow: hidden;
			div.center2 {
				padding: 60px;
				padding-top: 10px;
				div.footer {
					float: left;
					width: 200px;
					font-size: 12px;
					p{
						margin-bottom: -8px;
						a:hover {
							color: white;
						}
					}
				}
				ul {
					margin-top: 10px;
					li {
						margin-right: 6px;
						display: inline;
						a {
							font-size: 12px;
							font-weight: bold;
							transition: all 0.2s ease-in-out;
							&:hover {
							color: white;
							}
							img {
								vertical-align: middle;
							}
						}
					}
				}
			}
			div.info {
				background: @footerGrey;
				margin-top: 76px;
				color: @mainColorGrey;
				font-size: 10px;
				p {
					float: left;
					margin: 12px 40px 12px 60px;
				}
			}
		}
	}
/*DropMenu
==================================================*/
	div.dropMenu {
		position: fixed;
		right: 0px;
		top: 346px;
		z-index: 999;
		div.dropActive {
			float: left;
			position: relative;
			background-color: @dropMenuRed;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			width: 40px;
			height: 230px;
			overflow: hidden;
			img {
				position: absolute;
				right:77px;
				bottom: 102px;
				right:10px;
				top:10px;
				cursor: pointer;
			}
			p{
				position: absolute;
				transform: rotate(270deg);
				white-space:nowrap;
				font-size: 12px;
				text-transform: uppercase;
				color: white;
				display: inline-block;
				right:-57px;
				top:108px;
			}	
		}
		div.dropInactive {
			display: none;
			position: relative;
			border-bottom-left-radius: 10px;
			background-color: @navColor;
			height: 300px;
			overflow: hidden;
			float: left;
			padding-left: 10px;
			img {
				position: absolute;
				top: 0px;
				left: 0px;
			}
			h3, h5 {
				color: @navYellow;
				font-weight: 400;
				margin-bottom: 5px;
				margin-top: 8px;
			}
			h3 {
				font-size: 22px;
			}
			h5 {
				font-size: 13px;
			}
			h5.marg {
				margin-top: 40px;
			}
			p {
				color: white;
				font-size: 12px;
				line-height: 170%;
				margin: 0px;
				margin-bottom: 10px;
			}
			p.close {
				margin-top: 10px;
				cursor: pointer;
			}
			a {
				position: relative;
				text-decoration: none;
				color: @navYellow;
				background-color: @dropBtnGrey; 
				padding: 10px;
				padding-right: 34px;
				font-size: 12px;
				margin-right: 10px;
				border-radius: 10px;
				border-bottom-right-radius: 0px;
				transition: all 0.2s ease-in-out;
				&:visited {
					color: @navYellow;
					background-color: @dropBtnGrey; 
				}
				&::after {
					position: absolute;
					top: 10px;
					content: "";
					background-image: url("../images/dropRight.png");
					background-repeat: no-repeat;
					width: 20px;
					height: 20px;
					right: 0px;
				}
				&:hover {
					color: @navColor;
					background-color: @navYellow; 
					&::after {
						background-image: url("../images/dropRight2.png");
					}
				}
				&.aInactive {
					padding-right: 10px;
					&::after {
						background-image: none;
					}
					&:hover {
						background-color: @dropBtnGrey;
						color: @navYellow;
						cursor: default;
					}
				}
			}
			div.dropGP {
				margin: -10px 16px 0px;	
				padding-right: 16px;
				padding-top: 10px;
				width: 232px;
				height: 240px;
				float: left;
				border-right: 1px solid grey;
				box-sizing: border-box;
				
			}
			div.info {
				width: 376px;
				float: left;
				padding-left: 20px;
				padding-top: 6px;
				padding-right: 100px;
			}
		}
	}
}